<head>
<style>
            body { margin-top: 0;  margin-left: 0; font-family: Times New Roman; font-size: 17px; }
            table { width: 100%; border-collapse: collapse; margin-bottom: 8pt;}
</style>
</head>
<body>
<p style="text-align: center;"><strong>%FILIAL_ESO </strong></p>
<p style="text-align: center;"><span style="font-size: 16pt;"><strong>АКТ<br />об отказе в доступе к теплопотребляющим установкам потребителя</strong></span></p>
<table style="margin-bottom: 20pt;">
<tr valign="bottom">
<td style="text-align: left;"><strong> № %NUM_ACT </strong></td>
<td>&nbsp;</td>
<td style="text-align: right; text-decoration: underline;"><strong>%DAT_ACT</strong></td>
</tr>
</table>
<p>Наименование абонента: <b>%PAYER_NAME</b></p>
<p style="text-align: center; line-height: 0; font-size: 9.0pt;">(наименование абонента)</p>
<p>Наименование и адрес объекта:<b> %NAME_OBJ (%ADR_OBJ)</b></p>
<p style="text-align: center; line-height: 0; font-size: 9.0pt;">(наименование объекта)</p>
<p>Договор: <b>№ %NDOG от %DAT_DOG</b></p>
<p>Уведомление об ограничении подачи тепловой энергии:№ <b> %UVEDOML_OTKL_NUM </b> от <b> %UVEDOML_OTKL_DATE </b></p>
<p>Акт составлен представителем АО &laquo;Татэнерго&raquo;: <b>%FIO_ESO, %NAME_DOLZHN_ESO (т. %TEL_ESO)</b></p>
<p style="text-align: center; line-height: 0; font-size: 9.0pt;">(должность, ФИО, телефон)</p>
<p>в присутствии <b>%FIO_PODP, %NAME_DOLZHN_PODP (т. %TEL_PODP)</b></p>
<p style="text-align: center; line-height: 0; font-size: 9.0pt;">(должность, ФИО, телефон абонента)</p>
<ol>
<li>Установлено, что абонентом не выполнены действия по самостоятельному ограничению или полному ограничению (прекращению) подачи тепловой энергии за задолженность.
В соответствии с пунктом 84 Правил организации теплоснабжения в РФ, утвержденный Постановлением Правительства РФ N808 от 08.08.2012, в случае невыполнения потребителем действий по самостоятельному ограничению и полному ограничению режима потребления у АО «Татэнерго» возникает право осуществить абоненту полное ограничение режима потребления (прекращение подачи).</li>
<li>Абонентом отказано в доступе к принадлежащим ему теплопотребляющим установкам для проведения мероприятий по полному ограничению (прекращению) подачи тепловой энергии в день намеченного ограничения или полного ограничении (прекращении) подачи тепловой энергии.
Причины отказа абонента в самостоятельном ограничении или полном ограничении (прекращении) подачи тепловой энергии:  <b>%PRICHINA_OTKAZA</b></li>
<li>Согласно пункту 29 Статьи 2 Федерального Закона РФ №190 от 14.07.2010 «О теплоснабжении» потребление тепловой энергии после предъявления требования теплоснабжающей организации о введении ограничения подачи тепловой энергии или прекращения потребления тепловой энергии, если введение такого ограничения или такое прекращение должно быть осуществлено потребителем, считается бездоговорным потреблением.</li>
</ol>
<p>%REMARK_DOG</p>

<p style="text-align: justify;">Представитель АО &laquo;Татэнерго&raquo;:<b>%FIO_ESO, %NAME_DOLZHN_ESO (т. %TEL_ESO)</b></p>
<p style="text-align: center; line-height: 0; font-size: 9.0pt;">(должность, ФИО, телефон)</p>
<p style="text-align: justify;">Представитель абонента: <b>%FIO_PODP, %NAME_DOLZHN_PODP (т. %TEL_PODP)</b></p>
<p style="text-align: center; line-height: 0; font-size: 9.0pt;">(должность, ФИО, телефон)</p>
<p><b>В случае отказа потребителя от подписания настоящего акта:</b></p>
<p><b>От подписи отказался в присутствии:</b></p>

<p style="text-align: justify;"><b>%OTKAZ_SVIDET_1</b></p>
<p style="text-align: center; line-height: 0; font-size: 9.0pt;">(Ф.И.О., дата рождения, место регистрации, подпись незаинтересованного лица)</p>

<p style="text-align: justify;"><b>%OTKAZ_SVIDET_2</b></p>
<p style="text-align: center; line-height: 0; font-size: 9.0pt;">(Ф.И.О., дата рождения, место регистрации, подпись незаинтересованного лица)</p>

<p style="text-align: justify;">Представитель АО &laquo;Татэнерго&raquo;:<b>%FIO_ESO, %NAME_DOLZHN_ESO (т. %TEL_ESO)</b></p>
<p style="text-align: center; line-height: 0; font-size: 9.0pt;">(должность, ФИО, телефон)</p>
<p style="text-align: justify;">Представитель абонента: <b>%FIO_PODP, %NAME_DOLZHN_PODP (т. %TEL_PODP)</b></p>
<p style="text-align: center; line-height: 0; font-size: 9.0pt;">(должность, ФИО, телефон)</p>
<p>Экземпляр акта получил: <b>%ACT_POLUCHIL</b> </p>
<p style="text-align: center; line-height: 0; font-size: 9.0pt;">(должность, ФИО, телефон)</p>

</body>