<head>
<style>
            body { margin-top: 0;  margin-left: 0; font-family: Times New Roman; font-size: 17px; }
            table { width: 100%; border-collapse: collapse; margin-bottom: 8pt;}
</style>
</head>
<body>
<p><span style="font-size: 16pt;"><strong>Акт обследования</strong></span></p>
<table style="margin-bottom: 20pt;">
<tr valign="bottom">
<td style="text-align: left;"><strong> № %NUM_ACT </strong></td>
<td>&nbsp;</td>
<td style="text-align: right; text-decoration: underline;"><strong>%DAT_ACT</strong></td>
</tr>
</table>
<table>
<tr>
<td><strong>Наименование обследуемого предприятия, организации:</strong> %PAYER_NAME</td>
</tr>
</table>
<table>
<tr>
<td><strong> Адрес: </strong> %ADR_ORG &nbsp;&nbsp; <strong>телефон:</strong> %TEL_PODP</td>
</tr>
<tr>
<td></td>
</tr>
</table>
<table>
<tr>
<td > <strong>Ф. И. О. представителя КТС: </strong> %FIO_ESO &nbsp; &nbsp; <strong> телефон: </strong> %TEL_ESO</td>
</tr>
</table>
<table>
<tr>
<td><strong> Ф. И. О., должность представителя предприятия, организации: </strong> %FIO_PODP, %NAME_DOLZHN_PODP</td>
</tr>
</table>
<table>
<tr>
<td><strong>Наименование объекта обследования: </strong> %NAME_OBJ</td>
</tr>
</table>
<table>
<tr>
<td><strong>Причина обследования: </strong> %PURPOSE_TEXT</td>
</tr>
</table>
<table>
<tr style="height: 1px;">
<td>&nbsp;</td>
</tr>
<tr style="height: 1px;">
<td style="text-align: center; padding-bottom: 8pt" valign="bottom"><strong>Обследованием установлено:</strong></td>
</tr>
<tr> <td> %ITOG_TEXT </td> </tr>
</table>
<table>
<tr>
<td valign="bottom" style="width: 40%; text-align: left;"><strong>Представитель КТС:</strong></td>
<td valign="bottom" style="width: 60%; text-align: left;"><strong> %FIO_ESO</strong></td>
</tr>
<tr>
<td width="40%">&nbsp;</td>
<td valign="top" style="width: 60%; text-align: center;">(подпись)&nbsp;&nbsp;&nbsp;(Ф. И. О.)</td>
</tr>
</table>
<table>
<tr>
<td valign="bottom" style="width: 40%; text-align: left;"><strong>Акт обследования получил:</strong></td>
<td valign="bottom" style="width: 60%; text-align: left;"><strong> %FIO_PODP</strong></td>
</tr>
<tr>
<td width="40%">&nbsp;</td>
<td valign="top" style="width: 60%; text-align: center;">(подпись)&nbsp;&nbsp;&nbsp;(Ф. И. О.)</td>
</tr>
</table>
<p><strong>%DAT_ACT</strong></p>
</body>