<head>
<style>
            body { margin-top: 0;  margin-left: 0; font-family: Times New Roman; font-size: 17px; }
            table { width: 100%; border-collapse: collapse; margin-bottom: 8pt;}
</style>
</head>
<body>
<p style="text-align: center;"><span style="font-size: 16pt;"><strong>АКТ о выявлении бездоговорного потребления тепловой энергии</strong></span></p>
<p style="text-align: center;"><span style="font-size: 16pt;">(теплоносителя)</span></p>
<p style="text-align: left;"><strong> %CITY </strong></p>
<table style="margin-bottom: 20pt;">
<tr valign="bottom">
<td style="text-align: left;"><strong> № %NUM_ACT </strong></td>
<td>&nbsp;</td>
<td style="text-align: right; text-decoration: underline;"><strong>%DAT_ACT</strong></td>
</tr>
</table>
<p><b>Составлен представителем АО &laquo;Татэнерго&raquo;( %FILIAL_ESO )</b>:<br/>
   <b>%FIO_ESO, %NAME_DOLZHN_ESO (т. %TEL_ESO)</b></p>
<p><b>в соответствии с пунктом 8 статьи 22 Федерального закона от 27.07.2010 N 190-ФЗ «О	
теплоснабжении» в отношении потребителя: </b><br/>
<b> %PAYER_NAME , ИНН: %INN_ORG , КПП: %KPP_ORG</b></p>
<p style="text-align: center; line-height: 0; font-size: 9.0pt;">(наименование организации, ИНН, КПП)</p>
<p><b>Правоустанавливающие документы: %PRAVO_SOBSTV </b></p>
<p><b>Уведомление об актировании: %UVEDOM_AKTIROV_NUM от %UVEDOM_AKTIROV_DATE </b> </p>
<p> Юридический адрес потребителя (адрес по регистрации): %ADR_ORG </p>
<p>Представитель потребителя (иного лица), осуществившего бездоговорное потребление: <b>%FIO_PODP, %NAME_DOLZHN_PODP (т. %TEL_PODP)</b></p>
<p style="text-align: center; line-height: 0; font-size: 9.0pt;">(должность, ФИО, телефон абонента)</p>
<p>действующий на основании: <b> %PREDST_POTREBIT_DOVER </b></p>
<p style="text-align: center; line-height: 0; font-size: 9.0pt;">(доверенность, приказ, прочее)</p>
<p>Адрес объекта (помещения), где осуществляется бездоговорное потребление тепловой энергии: <b> %ADR_OBJ </b></p>
<p>Присоединенная тепловая нагрузка: всего <b> %Q_SUM </b> Гкал/ч, в т.ч.: <br/>
отопление <b> %SO_Q </b> Гкал/ч, вентиляция <b> %SW_Q </b> Гкал/ч, ГВС <b> %GW_Q </b> Гкал/ч (ИТП, ЦТП),<br/>
<b> %ST_Q </b> Гкал/ч</p>
<p>Назначение здания (помещений) – <b> %NAZN_NAME </b>; объем здания (помещения) – <b> %VOLUME_OBJ </b> м3;<br/>
Площадь здания (помещения) – <b> %SQUARE_OBJ </b> м2;	Наличие ПУ <b> %NAL_PU </b> (да, нет)(допущен, не допущен) <br/>
Наличие АУПР <b> %NAL_AUPR </b> (установлен, не установлен) (в работе, не в работе)</p>
<p>Способ осуществления бездоговорного потребления (по п. 29 ст.2 ФЗ «О теплоснабжении» №190-ФЗ): <br/>
<b> %DOP_INFO </b>
<ol>
<li><b>Проверкой установлено, что:</b><br/>
 Включенные нагрузки: %BEZDOG_USTANOVLENO </li>
<li><b>Выявлены нарушения: ФЗ-190 «О теплоснабжении», «Правил технической эксплуатации теплопотребляющих установок и тепловых сетей», «Правил учета тепловой энергии» и иных правовых актов</b><br/>
 %BEZDOG_NARUSHENIE </li>
<li><b>На основании составленного акта потребителю будет произведен расчет количества потребленной тепловой энергии за весь период пользования тепловой энергией:</b><br/>
- за период с	<b> %BEZDOG_PERERASCHET_S </b>	по <b> %BEZDOG_PERERASCHET_PO </b></li>
<li><b>Предписание:</b>
  <ol><li>Оплатить стоимость тепловой энергии, потребленной за период бездоговорного потребления в течении 15 дней после получения требования и счета на оплату.
  В случае неоплаты в указанный срок потребителем, осуществившим бездоговорное потребление тепловой энергии, теплоносителя, стоимости тепловой энергии, теплоносителя, полученных в результате бездоговорного потребления, теплоснабжающая организация вправе прекратить подачу тепловой энергии, теплоносителя и взыскать с потребителя, осуществившего бездоговорное потребление тепловой энергии, теплоносителя,<b> убытки в полуторакратном размере </b> стоимости тепловой энергии, теплоносителя, полученных в результате бездоговорного потребления тепловой энергии, теплоносителя.</li>
      <li>Устранить замечания, повлекшие оформление Акта бездоговорного потребления.</li>
      <li>Иное:	%BEZDOG_PREDPIS </li>
  </ol>
</li>
<li><b>Объяснения потребителя (иного лица), осуществившего бездоговорное потребление тепловой энергии (теплоносителя), относительно выявленного факта бездоговорного потребления тепловой: </b><br/>
%BEZDOG_OBYASN </li>
<li><b>Претензии к составленному акту: </b><br/>
%BEZDOG_PRETENZ </li>
</ol>
<p>%REMARK_DOG</p>
<p style="text-align: justify;"><b>Представитель филиала АО &laquo;Татэнерго&raquo; %FILIAL_ESO :</b><br/><b>%FIO_ESO, %NAME_DOLZHN_ESO (т. %TEL_ESO)</b></p>
<p style="text-align: center; line-height: 0; font-size: 9.0pt;">(должность, ФИО, телефон)</p>
<p style="text-align: justify;"><b>Представитель потребителя (иного лица):</b><br/> <b>%FIO_PODP, %NAME_DOLZHN_PODP (т. %TEL_PODP)</b></p>
<p style="text-align: center; line-height: 0; font-size: 9.0pt;">(должность, ФИО, телефон)</p>
<p><b>Неявку потребителя (иного лица), осуществившего бездоговорное потребление тепловой энергии (теплоносителя), либо отказа в подписании акта подтверждают:</b></p>

<p style="text-align: justify;"><b>%OTKAZ_SVIDET_1</b></p>
<p style="text-align: center; line-height: 0; font-size: 9.0pt;">(Ф.И.О., дата рождения, место регистрации, подпись незаинтересованного лица)</p>

<p style="text-align: justify;"><b>%OTKAZ_SVIDET_2</b></p>
<p style="text-align: center; line-height: 0; font-size: 9.0pt;">(Ф.И.О., дата рождения, место регистрации, подпись незаинтересованного лица)</p>
</p>
</body>