<head>
<style>
            body { margin-top: 0;  margin-left: 0; font-family: Times New Roman; font-size: 17px; }
            table { width: 100%; border-collapse: collapse; margin-bottom: 8pt;}
</style>
</head>
<body>
<p style="text-align: center;"><span style="font-size: 16pt;"><strong>АКТ о подключении объекта к системе теплоснабжения</strong></span></p>
<p style="text-align: left;"><strong> %CITY </strong></p>
<table style="margin-bottom: 20pt;">
<tr valign="bottom">
<td style="text-align: left;"><strong> № %NUM_ACT </strong></td>
<td>&nbsp;</td>
<td style="text-align: right; text-decoration: underline;"><strong>%DAT_ACT</strong></td>
</tr>
</table>
<p>
  АО «Татэнерго», именуемое в дальнейшем Исполнитель, в лице директора филиала <strong> %FILIAL_ESO %DIRECTOR_TATENERGO</strong>, действующего на основании
  доверенности <strong> № %DIRECTOR_T_DOVER_NUM</strong>, с одной стороны, и <strong>%ZAYAVITEL_FIO</strong>, именуемое в дальнейшем Заявитель, в лице <strong>%FIO_PODP</strong>, действующего на основании <strong>%ZAYAVITEL_DOVER</strong>, с другой стороны,
  именуемые в дальнейшем сторонами, составили настоящий акт о нижеследующем:
</p>
<div>
<ol>
<li>Исполнитель выполнил мероприятия по подключению, предусмотренные договором о подключении объекта к системе теплоснабжения  № <b>%NDOG от %DAT_DOG </b> (далее – договор), в полном объеме.</li>
<li>Заявитель выполнил мероприятия, предусмотренные договором и условиями подключения № <b>%PODGOTOVKA</b>.</li>
<li>Заявителем получен акт о готовности внутриплощадочных и внутридомовых сетей и оборудования подключаемого объекта к подаче тепловой энергии и теплоносителя.</li>
<li>Существующая тепловая нагрузка объекта подключения в точках (точке) подключения (за исключением нового подключения) составляет <b>%Q_SUM</b> Гкал/ч.</li>
<li>Подключенная максимальная тепловая нагрузка объекта в точках (точке) составляет <b>%Q_MAX </b> Гкал/ч.</li>
<li>Географическое местонахождение и обозначение точки подключения объекта на технологической схеме тепловых сетей: <b> %MESTO_KARTA </b></li>
<li>Узел учета тепловой энергии и теплоносителей допущен к эксплуатации по следующим результатам проверки узла учета:<br/>
дата, время, местонахождение узла учета:
<b>%PU_DATA </b><br/>
ф.и.о., должности и контактные данные лиц, принимавших участие в проверке узла учета:
<b> %PU_POVER_LICO </b><br/>
результаты проверки узла учета:
<b> %PU_POVER_REZ </b><br/>
показания приборов учета на момент завершения процедуры допуска узла учета к эксплуатации, места на узле учета, в которых установлены контрольные пломбы: 
<b> %PU_POVER_POKAZ</b><br/>
</li>
<li>Границей раздела балансовой принадлежности тепловых сетей (теплопотребляющих установок и источников тепловой энергии) является:<br/>
адрес, наименование объекта и оборудования, по которым определяется граница балансовой принадлежности тепловых сетей: 
<b> %BALANS_PRINADL_OBJ </b><br/>
Схема границы балансовой принадлежности тепловых сетей<br/>
Прочие сведения по установлению границ раздела балансовой принадлежности тепловых сетей:
<b> %BALANS_PRIN_DOP</b></li>
<li>Границей раздела эксплуатационной ответственности сторон является:<br/>
адрес, наименование объекта и оборудования, по которым определяется граница эксплуатационной ответственности сторон: 
<b> %GR_EKSPL_OTVETST1 </b><br/>
Схема границ эксплуатационной ответственности сторон<br/>
Прочие сведения по установлению границ раздела эксплуатационной ответственности сетей: 
<b> %GR_EKSPL_OTVETST_DOP</b></li>
<li>Стоимость услуг по подключению составила <b>%ST_PODKL_RUB1 </b> руб.,<br/>
в том числе НДС 20% - <b>%ST_PODKL_RUB_NDS</b> руб.</li> 
<li>Замечания к выполнению работ по подключению на момент подписания настоящего акта у сторон отсутствуют.</li>
<li>Прочие сведения <b>%PODKL_DOP_SVED</b></li>
<li>Настоящий акт составлен в 2 экземплярах (по одному экземпляру для каждой из сторон), имеющих одинаковую юридическую силу.</li>
</ol>
</div>
<p>%REMARK_DOG</p>
<div style="text-align: center;"><b> Подписи </b></div><br/><br/>
<table>
<tr>
<td valign="bottom" style="width: 40%; text-align: left;"><strong>Исполнитель:</strong></td>
<td valign="bottom" style="width: 60%; text-align: left;"><strong>Директор филиала %FILIAL_ESO %DIRECTOR_TATENERGO</strong></td>
</tr>
<tr>
<td width="40%">&nbsp;</td>
<td valign="top" style="width: 60%; text-align: center;">(подпись)&nbsp;&nbsp;&nbsp;(Ф. И. О.)</td>
</tr>
</table>
<table>
<tr>
<td valign="bottom" style="width: 40%; text-align: left;"><strong>Заявитель:</strong></td>
<td valign="bottom" style="width: 60%; text-align: left;"><strong> %FIO_PODP</strong></td>
</tr>
<tr>
<td width="40%">&nbsp;</td>
<td valign="top" style="width: 60%; text-align: center;">(подпись)&nbsp;&nbsp;&nbsp;(Ф. И. О.)</td>
</tr>
</table>
</body>