<head>
<style>
            body { margin-top: 0;  margin-left: 0; font-family: Times New Roman; font-size: 17px; }
            table { width: 100%; border-collapse: collapse; margin-bottom: 8pt;}
	    th {border: 1px solid black;}

</style>
</head>
<body>
<p style="text-align: center;"><span style="font-size: 16pt;"><strong>Акт преддоговорного осмотра (Карточка АСУСЭ по тепловым сетям)</strong></span></p>
<table style="margin-bottom: 20pt;">
<tr valign="bottom">
<td style="text-align: left;"><strong> № %NUM_ACT </strong></td>
<td>&nbsp;</td>
<td style="text-align: right; text-decoration: underline;"><strong>%DAT_ACT</strong></td>
</tr>
</table>
<p style="text-align: center;"><strong>Тепловые сети от %NAME_TK абонентского ввода %NAME_AW, объект %NAME_OBJ </strong></p>
<p style="width: 40%; text-align: left;"><b>Схемы присоединения к абонентскому вводу</b></p>				
<table border-style= "solid";  border="1" frame="box" rules="all" style="margin-top: 8pt;">
  <tr>
    <th style="width: 40%">Схемы присоединения к абонентскому вводу</th>
    <th >Тип</th>
   </tr>
 <tr>
	<td>Схема присоединения системы отопления</td>
	<td> %NAL_SO </td>
 </tr>
<tr>
	<td>Схема присоединения системы вентиляции</td>
	<td> %NAL_SW </td>
 </tr>
<tr>
	<td>Схема присоединения системы ГВС</td>
	<td> %NAL_GV </td>
 </tr>
</table>
%TABLE1
<table>
<tr>
<td valign="bottom" style="width: 40%; text-align: left;"><strong>Представитель КТС:</strong></td>
<td valign="bottom" style="width: 60%; text-align: left;"><strong> %FIO_ESO</strong></td>
</tr>
<tr>
<td width="40%">&nbsp;</td>
<td valign="top" style="width: 60%; text-align: center;">(подпись)&nbsp;&nbsp;&nbsp;(Ф. И. О.)</td>
</tr>
</table>
<table>
<tr>
<td valign="bottom" style="width: 40%; text-align: left;"><strong>Акт обследования получил:</strong></td>
<td valign="bottom" style="width: 60%; text-align: left;"><strong> %FIO_PODP</strong></td>
</tr>
<tr>
<td width="40%">&nbsp;</td>
<td valign="top" style="width: 60%; text-align: center;">(подпись)&nbsp;&nbsp;&nbsp;(Ф. И. О.)</td>
</tr>
</table>
<p><strong>%DAT_ACT</strong></p>
</body>