<head>
<style>
            body { margin-top: 0;  margin-left: 0; font-family: Times New Roman; font-size: 17px; }
            table { width: 100%; border-collapse: collapse; margin-bottom: 8pt;}
</style>
</head>
<body>
<p style="text-align: center;"><strong>ПАСПОРТ</strong><br /><strong> готовности к отопительному периоду %OTOP_PERIOD</strong> <br /> от %DAT_ACT № %NUM_ACT</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">Выдан: &nbsp; %PAYER_NAME<br /><br />
В отношении следующих объектов, по которым проводилась проверка готовности к отопительному периоду: <br />
%LIST_OBJ<br /><br /><br /> 
Основание выдачи паспорта готовности к отопительному периоду:<br />
Акт проверки готовности к отопительному периоду %OSNOV</p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;">&nbsp;</p>
<p>%REMARK_DOG</p>

<table>
<tr>
<td style="width: 57px;">&nbsp;</td>
<td style="width: 226px; border-bottom:1pt solid black;" valign="top"></td>
<td style="width: 57px;">&nbsp;</td>
<td style="width: 352px; border-bottom:1pt solid black;" valign="top">
<p style="text-align: center;" align="center"><span style="font-size: 9.0pt;">%FIO_ESO</span></p>
</td>
</tr>
<tr>
<td style="width: 57px;">&nbsp;</td>
<td style="width: 226px;"  valign="top">
<p  style="text-align: center;" align="center"><span style="font-size: 9.0pt;">(подпись)</span></p>
</td>
<td style="width: 57px;">&nbsp;</td>
<td style="width: 352px;" valign="top">
<p  style="text-align: center;" align="center"><span style="font-size: 9.0pt;">(расшифровка подписи и печать уполномоченного органа, образовавшего комиссию по проведению проверки готовности к отопительному периоду)</span></p>
</td>
</tr>
</table>
</body>