/* You can add global styles to this file, and also import other style files */

/*.kkk{*/
/*  color: white;*/
/*}*/

/*.k-link{*/
/*  color: white;*/
/*}*/

.invalidinsp1 .codeColumn {
    color: #373A3C;
    background-color: linen;
}

.invalidinsp2 .codeColumn {
    color: #373A3C;
    background-color:#f6e3d1;
}


.gold .codeColumns {color: #a09097; background-color: lightgrey}
.green .codeColumns {}
