<div class="d-flex justify-content-center  " style="background-color: chocolate;">
  <div class="d-flex align-items-start " style="height: 75vh; padding-top: 1px;">
    <kendo-grid [data]="view | async" [rowClass]="rowCallback"
                style="height: 74.8vh; padding-left: 30px; padding-right: 25px; border-style: none">
      <ng-template kendoGridToolbarTemplate>
      </ng-template>
      <kendo-grid-column field="" title="IMEI" width="160" [class]="{'codeColumn': true}">
      </kendo-grid-column>
      <kendo-grid-column field="PUSER" title="Логин" width="150" [class]="{'codeColumn': true}">
      </kendo-grid-column>
      <kendo-grid-column field="FIO" title="Ф.И.О" [class]="{'codeColumn': true}">
      </kendo-grid-column>
      <kendo-grid-column field="DEVICE_ONLINE" title="Онлайн" width="80" [class]="{'codeColumn': true}">
        <ng-template kendoGridCellTemplate let-dataItem >
          <img src="assets/online.png" width="10" style="pointer-events: none;" *ngIf="dataItem.DEVICE_ONLINE === 1"/>
          <img src="assets/ofline.png" width="10" style="pointer-events: none;" *ngIf="dataItem.DEVICE_ONLINE === 0"/>
          <span
            class="{{dataItem.DEVICE_ONLINE ? 'discontinued' : 'active'}}">
                            {{dataItem.DEVICE_ONLINE ? "on" : "off"}}
                    </span>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="LAST_ACTIVE" title="Последняя активность" width="170" [class]="{'codeColumn': true}">
      </kendo-grid-column>
      <kendo-grid-column field="LAST_LOCATION" title="Последняя локация" width="170" [class]="{'codeColumn': true}">
      </kendo-grid-column>
      <kendo-grid-column field="DEVICE_POWER" title="Заряд" width="70" [class]="{'codeColumn': true}">
      </kendo-grid-column>
      <kendo-grid-column field="DEVICE_LOCK" title="Заблокирован" width="120" [class]="{'codeColumn': true}">
        <ng-template kendoGridCellTemplate let-dataItem>
          <input type="checkbox" [checked]="dataItem.DEVICE_LOCK" disabled/>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-command-column title="" width="243">
        <ng-template kendoGridCellTemplate>
          <button kendoGridEditCommand [primary]="false">Сообщение</button>
          <button kendoGridEditCommand [primary]="true">Управление</button>
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>
  </div>
</div>
